.titleAndActionsContainer {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
.ruleActions > span {
  margin-right: 0.5em;
  cursor: pointer;
  font-size: 1rem;
}

.ruleActions > span:hover {
  font-weight: 500;
}